@use "../../sass/utils/variables" as *;
@use "../../sass/utils/mixins" as *;

.about {
  @include about-layout;
  padding: 3.75rem 2.3rem;

  &__title {
    color: $airbean-brown;
    font-family: $main-font;
    font-weight: 700;
    font-size: 2.625rem;
    margin-top: 1.25rem;
  }

  &__description {
    color: $airbean-brown;
    font-family: $secondary-font;
    font-size: 0.75rem;
    line-height: 1.2rem;

    b {
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.4rem;
    }

    small {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.2rem;
    }
  }

  &__profile {
    @include flex-center;
    flex-direction: column;
    margin-top: 3.75rem;

    &-pic {
      border-radius: 50%;
    }

    &-name {
      color: $airbean-brown;
      font-family: $main-font;
      font-weight: 700;
      font-size: 1.375rem;
      margin-top: 0.625rem;
    }

    &-title {
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.2rem;
    }
  }

  &__header {
    margin-top: -4.125rem;
    margin-left: -2.313rem;
  }

  &__footer {
    margin-top: 3.5rem;
    margin-left: -2.313rem;
  }
}
