@use "../../sass/utils/variables" as *;
@use "../../sass/utils/mixins" as *;

.about-container {
  @include about-layout;
  padding: 60px 2.3rem;
}

h1 {
  color: $airbean-brown;
  font-family: $main-font;
  font-weight: 700;
  font-size: 42px;
  margin-top: 20px;
}

b {
  color: $airbean-brown;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  line-height: 22.4px;
}

p {
  color: $airbean-brown;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 19.2px;
}

.profile-pic-container {
  @include flex-center;
  flex-direction: column;
  margin-top: 60px;
}

.profile-pic {
  border-radius: 50%;
}

h3 {
  color: $airbean-brown;
  font-family: $main-font;
  font-weight: 700;
  font-size: 22px;
  margin-top: 10px;
}

p small {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
}
