@use "../../sass/utils/variables" as *;
@use "../../sass/utils/mixins" as *;

.bag {
  @include bag;
}

.cart {
  margin-top: -66px;
  margin-left: 250px;
  span {
    position: absolute;
    margin-top: 15px;
    margin-left: 56px;
    background: $airbearn-orange;
    color: $airbean-white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 9999; // Add this line
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 444px;
  right: 150px;
  width: calc(55% - 320px);
  height: 100%;
  background-color: $airbean-overlay;
  z-index: 999;
}
