@use "../utils/variables" as *;

@mixin center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin layout {
  width: 23.438rem;
  height: 41.688rem;
  background-color: $airbean-dark-green;
  margin: auto;
}

@mixin about-layout {
  width: 23.438rem;
  height: 66.313rem;
  background-color: $airbean-pink;
  margin: auto;
}

@mixin meny-layout {
  width: 375px;
  height: 839px;
  background-color: $airbean-pink;
  margin: auto;
}

@mixin your-order-layout {
  background-color: $airbean-white;
  width: 341px;
  height: 575.06px;
}

@mixin status-page-layout {
  width: 375px;
  height: 667px;
  background-color: $airbearn-orange;
  margin: auto;
}

@mixin navigation-options {
  color: $airbean-white;
  font-size: 2rem;
  list-style-type: none;
  font-family: $main-font;
  font-weight: 700;
  line-height: 2.4rem;
  margin-left: auto;
  margin-right: auto;
}

@mixin hamburger-menu {
  background-color: $airbean-white;
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 9999;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    opacity: 0.88;
  }
}

@mixin bag {
  position: relative;
  z-index: 9999;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    opacity: 0.88;
  }
}

@mixin add-button {
  background-color: $airbean-brown;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  &:active {
    background-color: $airbearn-orange;
  }
}

@mixin confirm-button {
  background-color: $airbean-white;
  color: $airbean-brown;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  width: 184px;
  height: 55px;
  border: none;
  border-radius: 60px;
}
