/* FONTS */

$main-font: "PT Serif", serif;
$secondary-font: "Work Sans", sans-serif;

/* COLORS */

$airbean-brown: #2f2926;
$airbean-light-brown: #1e1a19;
$airbean-light-brown-fade: #1e1a19cc;
$airbean-white: #ffffff;
$airbean-white-fade: #ffffffcc;
$airbean-white-dark-fade: #ffffff80;
$airbean-hr-color: #ffffff14;
$airbean-dark-green: #38846d;
$airbean-light-green: #a2d5c6;
$airbean-pink: #f3e4e1;
$airbearn-orange: #e5674e;
$airbean-overlay: #000000b2;
