@use "../../sass/utils/variables" as *;
@use "../../sass/utils/mixins" as *;

.cart-page {
  @include cart-page-layout;

  &__dotted-line {
    margin-top: 0.938rem;
    margin-left: -2.188rem;
    width: 9.438rem;
  }

  &__title {
    color: $airbean-brown;
    font-family: $main-font;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    margin-bottom: 1.875rem;
  }

  &__item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-family: $main-font;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.5rem;
    }
  }

  &__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__total {
    font-family: $main-font;
    font-weight: 700;
    font-size: 1.438rem;
    line-height: 1.725rem;
    margin-top: 5.625rem;
    margin-bottom: 2.5rem;

    &__text {
      color: $airbean-brown;
      font-family: $main-font;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.2rem;
    }
  }

  &__button {
    @include card-page-button;
  }
}
