@use "../../sass/utils/variables" as *;
@use "../../sass/utils/mixins" as *;

.cart-page {
  @include cart-page-layout;
  .dotted-line {
    margin-top: 15px;
    margin-left: -35px;
    width: 151px;
  }
}
.title-in-cart-page {
  color: $airbean-brown;
  font-family: $main-font;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  text-align: center;
  margin-bottom: 30px;
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-family: $main-font;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  font-family: $main-font;
  font-weight: 700;
  font-size: 23px;
  line-height: 27.6px;
  margin-top: 90px;
  margin-bottom: 40px;

  p {
    color: $airbean-brown;
    font-family: $main-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 19.2px;
  }
}

.cart-page-button {
  @include card-page-button;
}
