@use "../../sass/utils/variables" as *;
@use "../../sass/utils/mixins" as *;

.menu {
  &__content {
    @include meny-layout;
  }

  &__header {
    margin-left: 0px;
    margin-top: 4.188rem;
    .hamburger-menu {
      margin-top: -3.313rem;
      margin-left: 1.875rem;
    }

    .cart {
      margin-top: -4.125rem;
      margin-left: 16.875rem;
    }
  }

  &__footer {
    margin-left: 0px;
    margin-top: 2.938rem;
  }

  &__title {
    color: $airbean-brown;
    font-size: 2.625rem;
    font-family: $main-font;
    font-weight: 700;
    line-height: 3.15rem;
    text-align: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin: 1.563rem 1.25rem 1.25rem 1.25rem;

    &__title {
      font-family: $main-font;
      font-weight: 700;
      font-size: 1.438rem;
      line-height: 1.725rem;
    }

    &__desc {
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 0.975rem;
    }

    &__price {
      font-family: $main-font;
      font-weight: 700;
      font-size: 1.438rem;
      line-height: 1.725rem;
    }
  }

  &__add-button {
    @include add-button;

    &__img {
      margin-bottom: -3px;
    }
  }
}
